@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url('/fontes/idroid.otf') format('opentype'); 
    font-weight: normal;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1A1C29;
}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom,#024b86, #001338);
    height: 15%;
    padding: 3px;
    border-bottom: 1px solid white;
    
}
.container-fullscreen{
  max-width: 100vw;
}

.logoime {
    height: 100px;
}

header h1 {
    font-family: 'android', cursive; 
    margin: 0;
    text-align: center;
    flex-grow: 1;
    color: white; 
    padding: 0; 
    max-width: 20%;
    font-weight: bold;
}
  .movie-details {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    gap: 20px; 
    padding: 20px;
    padding-top: 50px;
  }

  .movie-details img {
    max-width: 300px; 
    height: auto; 
    margin-top: 35px;
  }

  .movie-info {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
  }
input {
    width: 40%;
    color: black;
    border-radius: 150px;
    height: 50px;
    border: 1px solid #fd6739;
    font-size: 20px;
}

button {
    background-color: black;
    color: white;
    width: 180px;
    height: 80px;
    border-radius: 300px;
    border: 1px solid rgba(0, 0, 0, 0.562);
    font-size: 22px;
    font-family: var(--fonte2);
}

.info{
    text-decoration: none; 
    color: white; 
    margin: 0 10px; 
    font-size: 22px; 
    font-family: 'android', cursive; 
    transition: color 0.3s ease; 
    text-align: center;
}

a:hover {
    color: #003DB8; 
    background-color: white;
    border-radius: 5px;
} 

a:active {
    color: #ff4500; 
}

.movies-container {
  position: relative; 
  width: 100%;
  margin: 0;
  margin-top: 2px;
  background-color: #1A1C29;
  color: white;
  height: auto; 
  display: flex;
  justify-content: left;
}

.movies-carousel {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  
}

.movie-card {
  min-width: 150px;
  max-width: 150px;
  margin-right: 5px;
  margin-left: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 0px;
  overflow: hidden; 
}
.movie-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.movie-poster {
  width: 100%;
  border-radius: 3px;
  transition: transform 0.3s ease; 
  height: 100%;
}




.scroll-btn {
  position: absolute;
  background-color: rgba(128, 128, 128, 0.8);
  border: none;
  color: white;
  font-size: 40px; 
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
  transition: background-color 0.3s ease, opacity 0.3s ease; 
  width: 60px;
  height: 225px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  bottom: 0;
  margin: auto;
  opacity: 0; 
  pointer-events: none; 
}
.movies-container:hover .scroll-btn {
  opacity: 1; 
  pointer-events: all; 
}



.scroll-btn.left {
  left: 0; 

}

.scroll-btn.right {
  right: 0px; 
}

.scroll-btn:hover {
  background-color: rgba(100, 100, 100, 0.9); 
}

.movies-carousel {
  display: flex;
  overflow-x: hidden; 
  transition: transform 0.2s; 
  
  
}

.titulo{
  color: white; 
  margin-left: 10px;
  margin-top: 30px;
  font-size: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.subtitulo{
  color: white; 
  margin-left: 10px;
  margin-top: 30px;
  font-size: 24px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fimdapag {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to bottom,#024b86, #001338);
  color: white;
  text-align: center;
  padding: 10px;
  border-top: 1px solid white;
  height: 7%;
}
